.grid-container {
    display: grid;
    color: aqua;
    grid-template-columns: auto auto auto;
    /* gap: 50px 50px; */
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    /* border-bottom: ; */
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.grid-top{
    border-top: none;
}

.grid-left{
    border-left: none;
}

.grid-right{
    border-right: none;
}

.grid-bottom{
    border-bottom: none;
}